/*

Tipografia: MONSERRAT;
 *COLORES REFERENCIA
EBotones, hover: #FF00BF
Fondo de footer: #333447
Título del formulario: #352384
Texto del formulario: #728099
Gradiente morado: linear-gradient(#76278F, #2B1E66);
 */

 body{
	margin:0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

/*HEADER*/

 header{
 	width: auto;
 	height: 650px;
 	margin:0;
 	padding:0;
 	background-image: url('../assets/images/hero.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: auto;
    font-weight: 300;
    font-size: 1.1em;
 }

 .logo{
 	width: 60px;
 	height: 60px;
 	margin-left: 50px;
	padding: 40px;
	padding-top: 40px;
	display: inline-block;
 }

.logo img{
 	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	position: relative;
 }

 nav{
	display: inline-block;
	float: right;
	margin-top: 45px;
	padding-right: 25px;
	width: 550px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-right: 10px;
	padding-bottom: 10px;
	height: 40px;
	width: 100%;
	display: inline-block;
}

li{
	width: 100px;
	color: #000;
	display: inline-block;
	margin-left: 10px;
	text-align: center; /*centra en el bloque el texto*/
}

a{
	color: #fff;
	margin-left: 15px;
	text-decoration: none;
}

a:hover{
	color: #FF00BF;
}

button{
	font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color:white;
    background:none;
    border:1px solid white;
    border-radius: 5px;
    width:80px;
    height: 40px;
    padding-bottom: 15px;
    padding-top: 10px;
    
}

button:hover{
	color:#FF00BF;
	background-color: #fff;
}

.menu{
	margin:0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.01) 93%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.01) 93%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.01) 93%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

/* sign up*/

.signup{
	width: 450px;
	height: 280px;
	float: right;
	background-color: #fff;
	padding: 50px;
}

.signup h1{
	font-size: 1.5em;
	color: #352384;
	font-weight: 500;
	padding:0;
	margin:0;
}

.signup h4{
	text-transform: uppercase;
	font-size: 0.6em;
	color: #352384;
	font-weight: 400;
	margin:0;
	padding-top: 5px;
}

#registro form{
	margin-left: 0;
	padding-top: 20px;
	margin-bottom: 30px;
}

#registro form input{
	display: block;
	border: none;
	border-bottom: 1px solid #728099;
	width: 330px;
	height: 27px;
	color: #728099;
	font-size: 0.6em;
	font-family: 'Montserrat', sans-serif;
}

#registro button{
    background:#FF00BF;
    border:none;
    width:150px;
    font-size: 0.8em;   
    vertical-align: center;
    margin-bottom: 20px;
    padding: 5px;
}

#registro button:hover{
	color:#fff;
	cursor: pointer;
}


#registro .login{
	color: #352384;
	text-decoration: underline; /*subrayado*/
	padding-left: 5px;
	font-size: 0.7em;
}

#registro .login:hover{
	color: #FF00BF;
}

#registro p{
	font-size: 0.5em;
	padding-bottom: 10px;
}

#registro a{
	color:#FF00BF;
	margin:0;
}

/*crear efecto de transicion*/

.degradado{
	width: 100%;
	height: 130px;
	clear: right;
	background: rgba(105,38,136,0);
background: -moz-linear-gradient(top, rgba(105,38,136,0) 0%, rgba(101,33,133,1) 89%, rgba(101,32,133,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105,38,136,0)), color-stop(89%, rgba(101,33,133,1)), color-stop(100%, rgba(101,32,133,1)));
background: -webkit-linear-gradient(top, rgba(105,38,136,0) 0%, rgba(101,33,133,1) 89%, rgba(101,32,133,1) 100%);
background: -o-linear-gradient(top, rgba(105,38,136,0) 0%, rgba(101,33,133,1) 89%, rgba(101,32,133,1) 100%);
background: -ms-linear-gradient(top, rgba(105,38,136,0) 0%, rgba(101,33,133,1) 89%, rgba(101,32,133,1) 100%);
background: linear-gradient(to bottom, rgba(105,38,136,0) 0%, rgba(101,33,133,1) 89%, rgba(101,32,133,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#692688', endColorstr='#652085', GradientType=0 );
}	

/*seccion HOME*/


#home{
	color: #fff;
	background: #692688; /* Old Browsers */
background: -webkit-linear-gradient(#692688, #2e1e68);
background: -o-linear-gradient(#692688, #2e1e68);
background: linear-gradient(#692688, #2e1e68); /*Safari 5.1-6*/ /*Opera 11.1-12*/ /*Fx 3.6-15*/ /*Standard*/
/*	background-color: #692688;*/
	height: auto;
	width: auto;
	margin:0;
	padding: 80px;
	overflow: auto;
}

.informacion{
	width: 440px;
	height: 500px;
	float: left;
	margin-left: 100px;
	margin-top: 50px;
	align-self: center;
	padding-left: 10px;	
	color: #fff;
}

.informacion h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
	margin: 0;
}



.informacion h5{
	font-weight: 200;
	font-size: 1em;
}

.fono{
	width: 480px;
	height: 480px;
	display: inline-block;
	
	padding-left: 100px;
	
}

.fono img{
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
	min-width: 100%;
	position: relative;
}

/*seccion video right y textos*/
/*div contenedor y textos*/

.video{
	background-color: #fff;
	width: auto;
	height: auto;
	overflow: auto;
}

.video .descripcion{
	width: 300px;
	height: 300px;
	margin:0;
	padding-left: 100px;
	padding-top: 100px;
	float: left;
}

h6,h3,p{
	margin:0;
}

h6{
	text-transform: uppercase;
	color: #FF00BF;
	font-size: 0.7em;
	font-weight: 500;
	letter-spacing: 2px;
	padding-bottom: 8px;
}

h3{
	font-weight: 500;
	font-size: 1.5em;
	padding-bottom: 25px;
}

/*div contenedor y video LEFT*/
.video .descripcion p{
	font-weight: 300;
}

.video .delimitador{
	width:720px;
	margin:auto;
	float: right;
}


.video .delimitador .play-one{
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 30px; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
}

.video .delimitador .play-one iframe,.video .delimitador .play-on object,
.video .delimitador .play-on embed{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* video left seccion 2*/

.video #lefttext{
	width: 300px;
	height: 300px;
	margin:0;
	padding-right: : 100px;
	padding-top: 100px;
	float: left;
}

.video .delimitador-right{
	width:720px;
	margin:auto;
	float: left;
}

.video .delimitador-right .play-one{
	position: relative;
	padding-bottom: 56.25%; /* 16/9 ratio */
	padding-top: 0; /* IE6 workaround*/
	height: 0;
	overflow: hidden;
}
 /*FOOTER*/

 footer{
 	background-color: #333447;
 	margin:0;
 	padding-left: 30px;
 	padding-right: 30px;
 	color: #fff;
 	text-align: center;
 }

.links{
	padding-top: 30px;
}

 .links .columna{
 	display: inline-block;
 	margin:0;
 	width: 200px;
 	height: auto;
 	padding-left: 10px;
 	text-align: none;
 	vertical-align: top;
 	font-weight: 300;
 	text-align: left;
 }

 .columna ul li{
 	text-align: left;
 	width: 220px;
	font-weight: 300;
	font-size: 0.8em;
	padding-top: 15px;
	color: #fff;
 }

.columna ul li:first-child{
	font-weight: 500;
	font-size: 1em;
}

 .columna ul li a{
 	width: auto;

 }

.columna ul li a:hover{
 	color: #FF00BF;
 	text-decoration: underline;

 }


 .barra-logos{
 	width: 500px;
 	height: auto;
 	margin:0;
	
 	display: inline-block;
 }

 .barra-logos .apple, .microsoft, .google{
 	margin:0;
 	width: 380px;
 	height: 60px;
 	overflow: auto;
 	padding-bottom: 15px;
	padding-top: 15px;
 	justify-content: right;
 }

 .apple img, .microsoft img, .google img{
 	height: 100%;
 	width: auto;
 	float: right;
 }

 footer .redes{
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 20px;
 }

footer .redes a{
	margin:16px;
    border: 1px solid white;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 7px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: -2px;
}


 footer hr{
 	width: 700px;
 }

 footer p{
 	font-size: 0.8em;
 	font-weight: 300;
 	padding-bottom: 50px;
 }